@import URL('./bootstrap/bootstrap.min.css');
@import URL('./collection.css');
@import URL('./header.css');
@import URL('./types.css');
@import URL('./shop.css');


.page {
    background-color:white;
}

body,html {
    background-color: #d9d9d9;
    height:100%;
}

#root {
    height:100% !important;
}

.danger-btn {
    background-color: red;
    border:none;
    font-weight: 600;
    border-radius: 4px;
}
