@import URL('./bootstrap/bootstrap.min.css');
@import URL('./collection.css');
@import URL('./header.css');
@import URL('./types.css');

.page {
    background-color:white;
}

body,html {
    background-color: #d9d9d9;
    height:100%;
}

#root {
    height:100% !important;
}

.gray-row {
    background-color: gray;
}


.loot-table {
    border: 2px solid black;
}